@if (User.Identity.IsAuthenticated)
{
    <span class="navbar-text text-white">@User.Identity.Name</span>
    <ul class="navbar-nav ms-4">
        <li class="nav-item">
            <form class="form-inline" method="post" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="btn btn-outline-light">Выйти</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav flex-grow-1"></ul>
    <ul class="navbar-nav flex-">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">Войти</a>
        </li>
    </ul>
}
