@model Register

<div class="body-form-sign">
    <div class="form-signin text-center">
        <form method="post" asp-controller="Account" asp-action="Register">
            <h2 class="mb-3 fw-normal">
                Регистрация нового пользователя
            </h2>
            <div class="form-floating">
                <input class="form-control" asp-for="Email" type="email">
                <label asp-for="Email"></label>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-floating">
                <input class="form-control" asp-for="Password" />
                <label asp-for="Password"></label>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-floating">
                <input class="form-control" asp-for="PasswordConfirm" />
                <label asp-for="PasswordConfirm"></label>
                <span asp-validation-for="PasswordConfirm"></span>
            </div>
            <input class="w-100 btn btn-lg btn-primary" type="submit" value="Регистрация" />
            <div asp-validation-summary="ModelOnly"></div>
        </form>
    </div>
</div>
