@model string
@{
    String title = "Новая роль";
    ViewBag.Title = title;
}

<div class="body-form-add">
    <div class="form-add">
        <form asp-action="Add">
            <div class="mb-4">
                <h2>@title</h2>
                <hr class="my-2" />
            </div>
            <div class="mb-4">
                <label for="name" class="form-label">Название</label>
                <input name="name" class="form-control form-control-lg border-dark" required/>
            </div>
            <hr class="my-4" />
            <button type="submit" class="btn btn-lg btn-success float-end btn-submit">Добавить</button>
        </form>
    </div>
</div>

<div asp-validation-summary="All" class="text-danger"></div>
