@{
    ViewBag.Title = "Управление";
}

<a asp-controller="Products">Продукты</a>
<a asp-controller="Categories">Категории</a>
<a asp-controller="Costs">Расходы</a>
<a asp-controller="Users">Пользователи</a>
<a asp-controller="Roles">Роли</a>
