@model ProductCategory
@{
    String title = "Редактирование категории";
    ViewBag.Title = title;
}

<div class="body-form-add">
    <div class="form-add">
        <form asp-action="Edit" asp-route-id="@Model.Id">
            <div class="mb-4">
                <h2>@title</h2>
                <hr class="my-2" />
            </div>
            <div class="mb-4">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control form-control-lg border-dark" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <hr class="my-4" />
            <input type="submit" class="btn btn-lg btn-success float-end btn-submit" value="Сохранить" />
        </form>
    </div>
</div>
