@model IEnumerable<ProductCategory>
@{
    ViewBag.Title = "Категории";
}

<a asp-action="Add">Добавить категорию</a>
<table class="table">
    <tr><td>Id</td><td>Название категории</td><td>Действия</td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@item.Id" class="deleteForm">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                    <button type="button" class="btn btn-sm btn-danger deleteButton" data-toggle="modal" data-target="#modalWindow">Удалить</button>
                </form>
            </td>
        </tr>
    }
</table>

@await Html.PartialAsync("_ModalWindow", new ModalWindow { Title = "Предупреждение", Message = "Вы действительно хотите удалить эту категорию?" })

@section scripts{
    <script type="text/javascript">
        let triggeredForm;
        $('.deleteButton').click(function () {
            triggeredForm = $(event.target).parent();
        });
        $('#modalOk').click(function () {
            triggeredForm.submit();
            triggeredForm = undefined;
        });
    </script>
}
