@model IEnumerable<ProductCategory>
@{
    ViewBag.Title = "Категории";
}

<a asp-action="Add">Добавить категорию</a>
<table class="table">
    <tr><td>Id</td><td>Название категории</td><td>Действия</td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@item.Id">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                    <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                </form>
            </td>
        </tr>
    }
</table>
