<div class="w-75 mx-auto mt-5">
    <h2 class="text-center">
        <a asp-controller="Account" asp-action="Register" class="link-dark">Зарегистрируйтесь</a>
        или
        <a asp-controller="Account" asp-action="Login" class="link-dark">войдите</a>
        в приложение, чтобы начать его использовать!
    </h2>
    <hr />
    <p class="fs-4 mt-5" style="font-style: italic;">
        <span class="fs-3 fw-bold">MyCosts </span>
        <span class="text-decoration-underline">позволяет</span>
        :
    </p>
    <div class="ms-5">
        <ol class="list-group list-group-flush list-group-numbered fw-bold fs-5">
            <li class="list-group-item text-success">Записывать ваши расходы</li>
            <li class="list-group-item text-success">Подсчитывать ваши текущие расходы за этот месяц, за последние 30 дней, за год</li>
            <li class="list-group-item text-success">Просматривать разницу с расходами за аналогичный предыдущий период</li>
            <li class="list-group-item text-success">Просматривать категории товаров, на которые приходится больше всего расходов</li>
            <li class="list-group-item text-success">Просматривать подробную статистку расходов за любой временной период</li>
        </ol>
    </div>
</div>
