@model IEnumerable<User>
@{
    ViewBag.Title = "Пользователи";
}

<table class="table">
    <tr><td>Id</td><td>Name</td><td>Действия</td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Email</td>
            <td>
                <form asp-action="Delete" asp-route-id="@item.Id" class="deleteForm">
                    <a class="btn btn-sm btn-primary" asp-action="Roles" asp-route-userid="@item.Id">Права доступа</a>
                    <button type="button" class="btn btn-sm btn-danger deleteButton" data-toggle="modal" data-target="#modalWindow">Удалить</button>
                </form>
            </td>
        </tr>
    }
</table>
@await Html.PartialAsync("_ModalWindow", new ModalWindow { Title = "Предупреждение", Message = "Вы действительно хотите удалить этого пользователя?" })

@section scripts{
    <script type="text/javascript">
        let triggeredForm;
        $('.deleteButton').click(function () {
            triggeredForm = $(event.target).parent();
        });
        $('#modalOk').click(function () {
            triggeredForm.submit();
            triggeredForm = undefined;
        });
    </script>
}
