@model Pagination<Cost>
@{
    String title = "Все расходы";
    ViewBag.Title = title;
    ViewBag.IsAllUsers = true;
}

<div class="mt-3">
    <h2>@title</h2>
</div>
<partial name="_CostsTable" model="Model.Records" />
<pagination page="@Model.Page" per-page="@Model.PerPage" count-records="@Model.CountRecords"></pagination>

<partial name="_ModalWindow" model='new ModalWindow { Title = "Предупреждение", Message = "Вы действительно хотите удалить эти расходы?"}' />
